<table class="list" rules="all">
  <tbody>
    <% 7.times do %>
      <tr><td>
          <table class="storage-task">
            <tbody>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>
                  Перезвонить по важному вопросу
                </td>
                <td></td>
                <td rowspan="2">
                  <img src="/plugin_assets/storage/images/user.png" class="user-picture">
                </td>
                <td>
                  Иванов Иван Иванович
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  Сегодня 14:00
                </td>
                <td>
                  Тип задачи
                </td>
                <td>
                  ООО "Ромашка"
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  Метка1 Метка2
                </td>
              </tr>
            </tbody>
          </table>
      </td></tr>
    <% end %>
  </tbody>
</table>
